.footer__link {
    margin-right: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    transition: .2s ease-in;
}

.footer__link:hover {
    opacity: .8;
}