.footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        line-height: 2px;
        margin-top: 16px;
    }
}