.footer__item {
    margin-right: 18px;
}

.footer__item:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 475px) {
    .footer__item {
        display: block;
        margin-bottom: 32px;
    }
    .footer__item:last-child {
        margin-bottom: 0;
    }
}
