.cover__background {
    text-decoration: none;
    background-image: url(../../../images/cover-trains.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1184px;
    width: 100%;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
}

.cover__background::before {
    content: '';
    display: block;
    background-color: #2A2C2F;
    position: absolute;
    opacity: .3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .2s ease-in;
}

.cover__background:hover::before {
    opacity: .8;
}

@media screen and (max-width: 1024px) {
    .cover__background {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__background {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover__background {
        max-width: 320px;
        min-height: 200px;
    }
}