.place {
    margin-bottom: 80px;
    display: grid;
    grid-template-areas: "title website"
                         "image paragraphs";
    gap: 48px 40px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
    grid-template-columns: 440px auto;
    gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
    grid-template-columns: 340px auto;
    gap: 48px 28px;
    margin: 73px 24px 0;
    }
}

@media screen and (max-width: 675px) {
    .place {
        max-width: 651px;
        margin: 74px 0 0;
        display: block;
    }
}

@media screen and (max-width: 320px) {
    .place {
    max-width: 320px;
    margin: 0 0 50px;
    }
}