.footer {
    max-width: 1184px;
    margin: 92px auto 0;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
        margin-top: 88px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: 186px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 16px;
        margin-top: 64px;
    }
}